body {
  max-width: 1530px;
}

main {
background-color: #f4f3f4;  
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.link-white {
  color: #fff; 
}

.link-red {
  color: #d62c01;
}

.carousel-indicators .active {
  width: 16px;
  height: 16px;
  margin: 0;

  border: 2px solid #fff;
  
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
}

.carousel-indicators li {
  display: inline-block;

  width: 12px;
  height: 12px;
  margin: 2px;

  cursor: pointer;
  text-indent: -999px;
  
  border-radius: 12px;
  
  background-color: #fff;
}

.gallery-wrapper {  
  width: 100%;
  height: 570px;
  
  vertical-align: middle;
  background-color: #fff;
}

.preview-l {

}

.btn-goods {
  width: 100%;
}