/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans-v14-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v14-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-italic - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('../fonts/open-sans-v14-latin_cyrillic-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v14-latin_cyrillic-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../fonts/open-sans-v14-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v14-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: 'Open Sans', 'Verdana', serif;
  max-width: 1530px;
  font-size: 16px;
}

main {
  padding-top: 58px;
  background-color: #f4f3f4;  
}

main .container {
  padding: 0;
}

.item-section {
  margin-bottom: 55px;
}

.gallery-description h2 {
  margin-top: 23px;
  margin-bottom: 19px;
  color: #dc0000;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 700;
}

.gallery-description p {
  margin-bottom: 12px;
  
  color: #777777;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.09em;
}

.gallery-description__hr {
  display: inline-block;
  width: 30px;
  height: 1px;
  background-color: #000;
}

.gallery-description .big-margins {
  margin-top: 24px;
  margin-bottom: 49px;
}

.btn-goods {
  padding-top: 14px;
  padding-bottom: 14px;
  color: #333333;
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid #333333;
  border-radius: 0;
  letter-spacing: -0.07em;
}

.btn-goods:focus,
.btn-goods:active,
.btn-goods.active {
  color: #fff;
  background-color: #333;
}

.main-title {
  margin-top: 23px;
  margin-bottom: 24px;
  color: #333333;
  font-size: 40px;
  font-style: italic;
}

.red-line {
  display: block;
  height: 3px;
  width: 112px;
  background-color: #dc0000;
}

.red-line:last-child {
  margin-bottom: 60px;
}

.btn-slider {
  padding-top: 16px;
  padding-bottom: 18px;
  width: 200px;
  height: 60px;
  border: 2px solid white;
  border-radius: 0;
}

.btn-slider.link-white {
  color: #fff;
}

.btn-slider:hover,
.btn-slider:focus {
  background-color: white;
  color: #000;
}

.link-red {
  color: #d62c01;
}

.carousel-indicators .active {
  width: 16px;
  height: 16px;
  margin: 1px;

  border: 2px solid #fff;
  
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
}

.carousel-indicators li {
  display: inline-block;

  width: 12px;
  height: 12px;
  margin: 3px;

  cursor: pointer;
  text-indent: -999px;
  
  border-radius: 12px;
  
  background-color: #fff;
}

.gallery-wrapper {  
  width: 100%;
  height: 570px;
  
  vertical-align: middle;
  background-color: #fff;
}

.btn-goods {
  width: 100%;
}

.user-response {
  margin-bottom: 50px;
}

.user-response__text-wrapper {
  position: relative;
  min-height: 152px;
  padding: 23px;
  
  color: #666666;
  line-height: 24px;
  
  border: 1px solid #d1d1d1;
  background-color: #fff;
  
  z-index: 10;
}

.user-response__text::after,
.user-response__text::before {
  position: absolute;
  
  content: '';
  display: block;
  
  border: 1px solid #d1d1d1;
  background-color: #fff;
}

.user-response__text::before {
  bottom: -4px;
  left: 19px;
  
  width: 86.2%;
  height: 20px;
  z-index: 9;
}

.user-response__text::after {
  bottom: -6px;
  left: 27px;
  
  width: 80.7%;
  height: 20px;
  z-index: 8;
}

.user-response__arrow {
  position: absolute;
  top: 20px;
  left: -11px;
  
  width: 0;
  height: 0;
  
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  
  border-right: 11px solid #d1d1d1;  
}

.user-response__arrow::after {
  position: relative;
  top: -8px;
  left: 2px;
  content: '';
  display: block;
  width: 0;
  height: 0;
  
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  
  border-right: 11px solid white;  
}

.main-footer {
  min-height: 87px;
}

.main-footer h4 {
  margin-top: 40px;
}

.main-footer a {
  color: #333333;
  opacity: 0.6;
}







@media (min-width: 992px) {
  .navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
  }
  
  .nav .link-white {
    font-size: 18px;
    line-height: 19px;
  }
  
  .link-white {
    color: #fff; 
  }
  
  .custom-navbar {
    margin-top: 23px;
  }
  
  .custom-navbar > .navbar-right {
    margin-right: 0;
  }
  
  .custom-navbar > .nav > li > a {
    margin-left: 37px;
    margin-right: 38px;
    padding-left: 0;
    padding-right: 0;
  }
  
  .custom-navbar > .nav > li > a:hover,
  .custom-navbar > .nav > li > a:focus {
    color: white;
    border-bottom: 2px solid white;
    background-color: transparent;
  }
  
  .custom-navbar > .nav > li:first-child > a {
    margin-left: 0;
  }
  
  .custom-navbar > .nav > li:nth-last-child(2) > a {
    margin-right: 0;
  }
  
  .custom-navbar > .nav > li > .cart-link {
    position: absolute;
    top: 45px;
    right: -1px;
    width: 144px;
    margin-left: 0;
    margin-right: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
  }
  
  .navbar-brand {
    position: relative;
    height: auto;
    min-height: 50px;
    margin-top: 7px;
    margin-left: -17px !important;
    padding: 0;
  }
  
  .navbar-brand > .brand {
    position: absolute;
    top: 30px;
    left: 102px;
    color: #d62c01;
    font-family: Verdana;
    font-size: 24px;
    line-height: 16px;
  }
  
  .navbar > .container {
    padding: 0;
  }
  
  .carousel-caption {
    bottom: 99px;
  }
  
  .first-slide h3 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.3em;
  }
  
  .first-slide h2 {
    font-size: 45px;
    font-weight: 700;
  }

}





@media (min-width: 1200px) {
  .first-slide h3 {
    margin-bottom: 66px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.3em;
  }
  
  .first-slide h2 {
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 700;
  }
  
  .first-slide p {
    margin-bottom: 3px;
  }
}